body{
    padding: 0px;
    margin: 0px;
    background-color: #f2f9f4;
}

.root{
    width: 100%;
    background-color: #f2f9f4;
    color: #509995;
}


/* Navigation Bar */
.nav-bar .logo{
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: #8fd8c5;
    padding-top: 20px;
    height: 100px;
}


.nav-bar{
    width: 100%;
    background-color: #deeee8;
    margin-top: 40px;
}

.nav-bar .list{
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-between;
    margin-left: 40%;
}

.nav-bar li{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.nav-bar li:hover{
    background-color: #c0dad6;
}


/* slide 1 */
.slide1{
    height: 120vh;
    width: 100%;
    display: flex;
}

.slide1 #yoga1-img{
    border: 5px solid #b7d3cf;
    border-radius: 50%;
    position: absolute;
    top: 235px;
    left: 140px;
}


.slide1 .right{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 225px;
}


.slide1 .right .header{
    font-size: 100px;
    font-weight: bold;
}


.slide1 .right .details{
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin-top: 25px;
}

.slide1 .right .join-btn{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #509995;
    color: #fefefc;
    text-align: center;
    margin-top: 50px;
    width: 125px;
    border-radius: 10px;
    cursor: pointer;
}


/* slide 2 */
.slide2 .right-side-img{
    position: absolute;
    right: 0px;
    top: 610px;
}

.slide2{
    height: 130vh;
    width: 100%;
    background-color: #509995;
    color: #f2f9f4;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide2 .bg-image{
    /* transform: scaleX(-1); */
    margin-top: 25px;
    height: 425px;
}

.cards{
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.card-details{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.slide2 .header {
    font-size: 70px;
    margin-top: 75px;
}

.slide2 .details{
    width: 45%;
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
}

.slide2 .card-item .header{
    font-size: 30px;
    font-weight: bold;
}

.slide2 .card-item .details{
    font-size: 20px;
}

.slide2 .card-details .card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.slide2 .card-item img{
    border-radius: 50%;
    height: 20rem;
}

.slide2 .card-details{
    position: absolute;
    margin-top: 350px;
}


/* slide 3 */
.slide3{
    height: 140vh;
    width: 100%;
    background-image: url('assets/slide3-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #509995;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide3 .header{
    font-size: 75px;
    font-weight: bold;
    margin-top: 75px;
}

.slide3 .details{
    font-size: 35px;
    margin-top: 50px;
    width: 60%;
    text-align: center;
}

.slide3 .data{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.slide3 .data-item{
    border: 5px solid #509995;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slide3 .data-item .number{
    font-size: 75px;
}

#data-item-2, #data-item-3{
    font-weight: bold;
}