body, .root{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.root{
    background-color: #f1e8e5;
}


/* Navigation Bar */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 40px;
}

.menu{
    width: 60%;
}

.list{
    display: flex;
    justify-content: space-evenly;
    color: #5366c9;
    background-color: #f1e8e5;
    font-size: 1.25rem;
    font-weight: bold;
}

ul{
    list-style-type: none;
}



/* slide 1 */
.slide1{
    background-color: #f1e8e5;
    display: flex;
}

.left img{
    border-radius: 0px 75% 0px 0px;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #5366c9;
    margin-top: 190px;
    margin-left: 100px;
}

.right .header{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 4rem;
}

.right .details{
    font-size: 14px;
    width: 60%;
    margin-bottom: 25px;
}


.reg-btn{
    background-color: #5366c9;
    color: #f1e8e5;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    cursor: pointer;
}

.right .circle{
    position: absolute;
    right: 75px;
    bottom: -150px;
}

.right .hollow{
    position: absolute;
    right: 0px;
    bottom: -150px;
}

.slide1 .star {
    position: absolute;
    left: 40%;
    top: 30%;
    height: 10rem;
}


/* slide 2 */
.slide2{
    height: 100vh;
    width: 100%;

    background-color: aquamarine;
}

.slide2 .content{
    background-color: #5366c9;
    color: white;
    width: 60%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide2 .header{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slide2 .details {
    line-height: 1.5rem;
}

#read-more{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.slide2 .down-arrow{
    height: fit-content;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 350px;
}


/* slide 3 */
.slide3{
    height: 120vh;
    width: 100%;

    background-image: url('assets/slide3-bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3  .background{
    width: 50%;
    height: 100%;
    color: blue;
    background-color: rgba(228,219,218,255);
    opacity: 0.5;
}

.slide3 .content{
    display: flex;
    flex-direction: column;
    color: #5366c9;

    position: absolute;
    top: 265%;
    left: 15%;
}

.slide3 .content .header{
    font-size: 50px;
    font-weight: bold;
}

.slide3 .details{
    width: 25%;
    line-height: 2rem;
    margin-top: 20px;
}


/* slide 4 */
.slide4{
    height: 120vh;
    width: 100%;
    background-image: url('assets/slide4-bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide4 .background{
    width: 41%;
    height: 100%;
    background-color: rgba(228,219,218,255);
    opacity: 0.5;

    float: right;
}

.slide4 .content{
    position: absolute;
    right: 10%;
    top: 375%;
    color: #5366c9;
    text-align: center;
}

.slide4 .content .header{
    font-size: 125px;
    font-weight: bold;
}

.discover-btn{
    padding: 10px 20px;
    font-size: 16px;
    width: 60%;
    background-color: #5366c9;
    color: #e7dfe3;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
}


/* slide 5 */
.slide5{
    height: 80vh;
    width: 100%;
    background-color: #5366c9;
    color: #eae9d9;
}

.slide5 .data{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.slide5 .data .data-item .data-item-header{
    font-size: 50px;
    line-height: 3rem;
    margin: 20px 0px;
}

.slide5 .data .data-item{
    background-color: #5366c9;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.slide5 .data .data-item img{
    height: 7rem;
}

.data-item-text{
    width: 85%;
}
